set completion-ignore-case on
set show-all-if-ambiguous on
set editing-mode vi
set keymap vi-insert
    "\e[A": history-search-backward
    "\e[B": history-search-forward
set keymap vi-command
    ";":"$"
